@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-bigShouldersDisplay: 'Big Shoulders Display';
}

@layer base {
    * {
        scrollbar-width: none
    }

    html,
    body,
    #root {
        width: 100%;
        min-height: 100dvh;
        color: rgba(255, 255, 255, 0.87);
        background-color: #050D2F;
        box-shadow: inset 0 0 50px #445dcc;
    }

    #root {
        padding: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Big Shoulders Display', sans-serif;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}