@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
 
code {
    @apply bg-slate-900 p-1 rounded;
}